body {

    background: #DCDDDF url("../../resources/images/FD1mJ.png");
    background-size: cover;
    padding: 0;
    margin: 0 auto;
}

.container {

    margin: 25px auto;
    width: 900px;
    position: relative;
    margin-top: 140px;
}

#content {

    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 25px 0 0;
    background: black;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 1px 0 #000000 inset;

}

#content h1 {

    font-family: SansSerif,Arial;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: #FFE500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.wrapper {

    background: #eae7e7;
    width: 300px ;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: inset 0 0 8px #000000;
}


.wrapper input {

    width: 300px;
    height: 45px;
    background: transparent;
    border: 0;
    padding: 10px;
    outline: none;
    color: #333;
}

input[type="submit"]{

    width: 250px;
    height: 40px;
    border-radius: 40px;
    border: 0;
    outline: none;
    background: rgb(254,231,154);
    background: -webkit-linear-gradient(top,rgba(254,232,154,1)0%,rgba(254,193,81,1)100%);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8)inset;
    cursor: pointer;
    color: black;
    font-family: sans-serif,Arial;
    font-size: 16px;
    font-weight: bolder;
}

input[type="submit"]:hover{

    background: -webkit-linear-gradient(top,rgba(254,193,81,1)0%,rgba(254,232,154,1)100%);
}

